@{
    ViewData["Title"] = "Movie Submission";
}
@model Mission6Assignment.Models.SubmissionResponse

<h2>Fill out Movie Submission Form</h2>

<div>
    <form method="post">
        <label asp-for="Category">Category:</label>
        <input asp-for="Category" /><br />

        <label asp-for="Title">Title:</label>
        <input asp-for="Title" /><br />

        <label asp-for="Year">Year:</label>
        <input asp-for="Year" /><br />

        <label asp-for="DirectorFirstName">Director First Name:</label>
        <input asp-for="DirectorFirstName" /><br />

        <label asp-for="DirectorLastName">Director Last Name:</label>
        <input asp-for="DirectorLastName" /><br />

        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="g">G</option>
            <option value="pg">PG</option>
            <option value="pg13">PG-13</option>
            <option value="r">R</option>
        </select><br />

        <label asp-for="Edited"></label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" /><br />

        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" maxlength="25"/><br />

        <button type="submit">Submit Movie</button>
    </form>
</div>